{% extends "en/base.html" %}
{% block content %}

	<div class="message">
		<header>
			<h1 id="resumen">SUMMARY</h1>
			<hr>
		</header>
		<p>PEP8-Analyzer is a web application aimed at analyzing Python projects to check their compliance level with the PEP8 style guide and correct some of the errors detected.
		<br>The analysis is performed by Pylint tool, which analyzes the files individually and indicates which rules of the PEP8 style guide are not being complied.
		<br>Once the result of the analysis performed by Pylint is obtained, the web application corrects the errors indicated in the <a href="#errors">fixable errors list</a> and performs a Pull Request/Merge Request on the entered repository with the modifications that have been made and a summary of the corrected errors located in the description.
		</p>
		<header>
			<h1 id="use_guide">USE GUIDE</h1>
			<hr>
		</header>
		<p>PEP8-Analyzer is divided into the following pages:
			<ul>
				<li><a href="#start">Home</a></li>
				<li><a href="#repo_list">Pull-Requests</a></li>
				<li><a href="#error_list">Errors</a></li>
				<li><a href="#guide">Guide</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</p>
		<header>
			<h3 id="start" style="margin-left: 5%">Home</h3>
			<hr style="margin-left: 5%">
		</header>
		<p style="margin-left: 5%">
			On the Home page there is a single form where the link to the project to be analyzed can be entered.
			<br>To analyze a project it must be hosted in a GitHub or URJC ETSIT GitLab repository.
			<br>Once the link to the repository containing the project is entered, a brief summary of the repository data is displayed, indicating its name, owner, description and URL, and a button to run the Pylint analysis.
			<br>After running Pylint, the result of the analysis is displayed with the possibility of viewing all the errors detected by Pylint or filter them to see only those that can be corrected by the web application, and a button to correct those errors.
			<br>After correcting the errors, the Pull Request/Merge Request is commited and the repository data is displayed together with the link to the Pull Request/Merge Request that has been commited.
			<br>Such Pull Request/Merge Request must be accepted or cancelled by the original repository owner.
		</p>
		<header>
			<h3 id="repo_list" style="margin-left: 5%">Pull-Requests</h3>
			<hr style="margin-left: 5%">
		</header>
		<p style="margin-left: 5%">
			Pull-Requests shows a list of Pull Requests/Merge Requests commited by the application and pending approval by the repository owner.
		</p>
		<header>
			<h3 id="error_list" style="margin-left: 5%">Errors</h3>
			<hr style="margin-left: 5%">
		</header>
		<p style="margin-left: 5%">
			Two graphs are shown in the Error List.
			<br>The first graph shows the number of times that each fixed error that have occurred in the analyzed repositories .
			<br>The second graph shows the number of analyzed repositories and separates them according to the status of the Pull Request/Merge Request.
		</p>
		<header>
			<h3 id="guide" style="margin-left: 5%">Guide</h3>
			<hr style="margin-left: 5%">
		</header>
		<p style="margin-left: 5%">
			This page contains a summary of the application, a brief user guide defining each of the pages and a table with the errors detected by Pylint that can be fixed by the application.
		</p>
		<header>
			<h3 id="contact" style="margin-left: 5%">Contact</h3>
			<hr style="margin-left: 5%">
		</header>
		<p style="margin-left: 5%">
			Contact data.
		</p>
		<header>
			<h1 id="errors">FIXABLE ERRORS</h1>
			<hr>
		</header>
		<div class='table-responsive'>
			<table style="color:white" class="table table-bordered">
				<thead>
					<tr>
						<th class="th-sm">Error ID</th>
						<th class="th-sm">Error Name</th>
						<th class="th-sm">Message</th>
					</tr>
				</thead>
				<tbody>
					{% for error in errors %}
					<tr>
						<td>{{error.error_id}}</td>
						<td>{{error.name}}</td>
						<td>{{error.message}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
