{% extends "en/base.html" %}

{% block content %}

<div class="container">
	<p style="color:white">Pull request realizada.<p><br>
	<div class='table-responsive'>
		<table style="color:white" class="table table-bordered">
			<tbody>
				<tr>
					<td width="20%"><b>Repository name</b></td>
					<td>{{repository.name}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Repository owner</b></td>
					<td>{{repository.owner}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Description</b></td>
					<td>{{repository.description}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Repository URL</b></td>
					<td><a href={{repository.html_url}} target="_blank">{{repository.html_url}}</a></td>
				</tr>
				<tr>
					<td width="20%"><b>Pull-Request URL</b></td>
					<td><a href={{repository.pull_url}} target="_blank">{{repository.pull_url}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


	{% endblock %}
