{% extends "en/base.html" %}

{% block content %}

<div class="container">
	<div class='table-responsive'>
		<table style="color:white" class="table table-bordered">
			<tbody>
				<tr>
					<td width="20%"><b>Repository name</b></td>
					<td>{{repository.name}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Repository owner</b></td>
					<td>{{repository.owner}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Description</b></td>
					<td>{{repository.description}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Repository URL</b></td>
					<td><a href={{repository.html_url}} target="_blank">{{repository.html_url}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" role="tab" href="#all">Show all</a></li>
		<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" href="#fixables">Show fixables</a></li>
		<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" href="#level1">Level 1</a></li>
		<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" href="#level2">Level 2</a></li>
	</ul>
	<div class="tab-content">
		<div id="all" class="tab-pane in active" role="tabpanel">
			<p style="color:white">Pylint output:</p>
			<p class="terminal"><samp>
			{% for msg in pylint_output %}
				{% if msg|slice:":1" == '/' %}
					{{msg}}<br>
				{% endif %}
			{% endfor %}
			</samp></p>
			<div class="clear">
				<form method="POST">
					<button type="submit" name="fix_errors" class="button" value="0">
						Corregir
					</button>
				</form>
			</div>
		</div>
		<div id="fixables" class="tab-pane fade" role="tabpanel">
			<p style="color:white">Pylint output:</p>
			<p class="terminal"><samp>
			{% for msg in pylint_output_fixables %}
				{% if msg|slice:":1" == '/' %}
					{{msg}}<br>
				{% endif %}
			{% endfor %}
			</samp></p>
			<div class="clear">
				<form method="POST">
					<button type="submit" name="fix_errors" class="button" value="0">
						Corregir
					</button>
				</form>
			</div>
		</div>
		<div id="level1" class="tab-pane fade" role="tabpanel">
			<p style="color:white">Pylint output:</p>
			<p class="terminal"><samp>
			{% for msg in pylint_output_level1 %}
				{% if msg|slice:":1" == '/' %}
					{{msg}}<br>
				{% endif %}
			{% endfor %}
			</samp></p>
			<div class="clear">
				<form method="POST">
					<button type="submit" name="fix_errors" class="button" value="1">
						Corregir
					</button>
				</form>
			</div>
		</div>
		<div id="level2" class="tab-pane fade" role="tabpanel">
			<p style="color:white">Pylint output:</p>
			<p class="terminal"><samp>
			{% for msg in pylint_output_level2 %}
				{% if msg|slice:":1" == '/' %}
					{{msg}}<br>
				{% endif %}
			{% endfor %}
			</samp></p>
			<div class="clear">
				<form method="POST">
					<button type="submit" name="fix_errors" class="button" value="2">
						Corregir
					</button>
				</form>
			</div>
		</div>
	</div>
</div>


	{% endblock %}
