{% extends "base.html" %}
{% block content %}

	<div class="message">
		<header>
			<h1 id="resumen">RESUMEN</h1>
			<hr>
		</header>
		<p>PEP8-Analyzer es una aplicación web dirigida a analizar proyectos desarrollados en Python para comprobar su nivel de cumplimiento de la guía de estilo PEP8 y corregir algunos de los errores detectados.
		<br>Para realizar el análisis se hace uso de la herramienta Pylint, que analiza individualmente los ficheros e indica qué normas de la guía de estilo PEP8 se están incumpliendo.
		<br>Una vez obtenido el resultado del análisis realizado por Pylint, la aplicación web corrige los errores indicados en el <a href="#errors">listado de errores corregibles</a> y realiza una Pull Request/Merge Request sobre el repositorio introducido con las modificaciones que se han realizado y un resumen de los errores corregidos situado en la descripción.
		</p>
		<header>
			<h1 id="guia">GUÍA DE USO</h1>
			<hr>
		</header>
		Para analizar un proyecto éste debe estar alojado en un repositorio de GitHub o del GitLab de la ETSIT de la URJC.

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur molestie augue ac auctor. Sed blandit ante id aliquam feugiat. Sed eu orci ipsum. Donec vel quam tortor. Vivamus congue libero ut nulla pharetra accumsan. Etiam vulputate placerat fermentum. Fusce pretium, metus non lacinia suscipit, eros ligula aliquam augue, nec euismod nunc risus vehicula dui. Sed tortor libero, gravida sed dolor cursus, faucibus lobortis diam. Etiam mattis lorem in nisl ultricies, in consectetur enim elementum. Morbi ut convallis justo. Suspendisse consequat augue quis mi tristique, non mollis nisi aliquam. Vivamus sollicitudin sapien a justo sagittis, id elementum dolor lacinia. Aenean nisl lacus, cursus in odio sit amet, tincidunt gravida lorem. Integer imperdiet lacinia sem ut auctor.
		<br><br>
		Donec sollicitudin justo at arcu tristique, eu egestas nulla tincidunt. Fusce nec orci sit amet mi sagittis tincidunt. Etiam lectus eros, laoreet nec turpis eget, pulvinar vulputate diam. Donec dictum lectus massa, at rhoncus eros hendrerit vel. Cras eleifend libero at ligula pellentesque gravida. Sed commodo enim sit amet mauris posuere, eget consequat velit faucibus. Sed id magna finibus, maximus lectus vitae, scelerisque quam. Vestibulum diam sem, viverra eget enim semper, fringilla elementum tellus. Aliquam facilisis blandit mauris id pellentesque. Duis ultrices purus sem, ut molestie risus varius at. Sed et nibh est. Vestibulum egestas est eget rutrum aliquam. Sed bibendum ligula in semper ullamcorper. Duis eu ullamcorper metus.
		<br><br>
		<header>
			<h1 id="errors">ERRORES CORREGIBLES</h1>
			<hr>
		</header>
		<div class='table-responsive'>
			<table style="color:white" class="table table-bordered">
				<thead>
					<tr>
						<th class="th-sm">Error ID</th>
						<th class="th-sm">Error Name</th>
						<th class="th-sm">Message</th>
					</tr>
				</thead>
				<tbody>
					{% for error in errors %}
					<tr>
						<td>{{error.error_id}}</td>
						<td>{{error.name}}</td>
						<td>{{error.message}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		Etiam lorem libero, auctor id facilisis eu, blandit non purus. Suspendisse quis velit ut nisl feugiat rutrum. Donec efficitur odio ligula, eu ultricies lorem molestie efficitur. Nam sed tristique tortor. Quisque volutpat commodo mi, in dictum ipsum ullamcorper aliquet. Sed congue diam sed elit pulvinar, ut vehicula lectus auctor. Nam sagittis erat vitae ultricies gravida. Vivamus ex mauris, viverra eleifend elit vitae, suscipit consectetur neque. Proin hendrerit maximus leo, vel tempus odio congue in.
		<br><br>
		Donec pretium ipsum sit amet justo iaculis, et commodo urna porttitor. Aenean efficitur enim vitae velit gravida, et varius quam mollis. Curabitur rutrum nunc leo, eget egestas purus porta eget. Etiam finibus et nunc et dapibus. In a tempus turpis. In hac habitasse platea dictumst. Vestibulum dictum efficitur eros, id efficitur dui semper eget. Donec commodo turpis eros, ac ullamcorper mauris sagittis sed. Donec justo justo, commodo at luctus sed, tincidunt vel ex. Integer tristique finibus diam. Mauris iaculis, orci et facilisis blandit, sapien libero pulvinar est, suscipit ultricies metus odio placerat augue. Etiam interdum imperdiet ante. Donec vestibulum lectus sapien, in malesuada odio rutrum nec.
		<br><br>
		Pellentesque dignissim nunc in odio porta accumsan. Vestibulum nec urna finibus, consectetur massa et, sodales neque. Suspendisse potenti. Nulla facilisi. Phasellus sed interdum nulla. Cras rutrum feugiat sem, id aliquam tortor semper ut. Quisque nec pulvinar turpis. Cras efficitur posuere quam volutpat efficitur. Quisque magna felis, luctus non convallis sed, dictum sed risus. Nunc libero enim, venenatis non consectetur quis, sodales tristique tellus.
	</div>

{% endblock %}
