{% extends "base.html" %}

{% block content %}

<div class="container">
	<p style="color:white">Pull request realizada.<p><br>
	<div class='table-responsive'>
		<table style="color:white" class="table table-bordered">
			<tbody>
				<tr>
					<td width="20%"><b>Nombre del repositorio</b></td>
					<td>{{repository.name}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Propietario del repositorio</b></td>
					<td>{{repository.owner}}</td>
				</tr>
				<tr>
					<td width="20%"><b>Descripción</b></td>
					<td>{{repository.description}}</td>
				</tr>
				<tr>
					<td width="20%"><b>URL del repositorio</b></td>
					<td><a href={{repository.html_url}} target="_blank">{{repository.html_url}}</a></td>
				</tr>
				<tr>
					<td width="20%"><b>URL de la Pull-Request</b></td>
					<td><a href={{repository.pull_url}} target="_blank">{{repository.pull_url}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


	{% endblock %}
