{% extends "base.html" %}

{% block content %}

<div class="container">
	<ul class="nav nav-tabs">
		<li><a href="/">Gestión</a></li>
		<li><a>Lista de repositorios</a></li>
		<li><a>Pestaña 3</a></li>
	</ul>
	<div class='table-responsive'>
		<table id="tablePreview" class="table table-striped table-bordered table-hover table-sm">
			<tbody>
				<tr>
					<td>{{repository.identifier}}</td>
					<td>{{repository.full_name}}</td>
					<td>{{repository.description}}</td>
					<td>{{repository.html_url}}</td>
					<td>{{repository.owner}}</td>
					<td>{{repository.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% if fixables == 1 %}
		<form method="POST"><button type="submit" name="errors" value="0">
			Mostrar todos
		</button>
	{% else %}
		<form method="POST"><button type="submit" name="errors" value="1">
			Mostrar sólo corregibles
		</button>
	{% endif %}
	<form method="POST"><button type="submit" name="errors" value="2">
		Mostrar errores corregibles de nivel 1
	</button>
	<form method="POST"><button type="submit" name="errors" value="3">
		Mostrar errores corregibles de nivel 2
	</button>
	<p>Salida de pylint:</p>
	<p class="terminal"><samp>
	{% for msg in pylint_output %}
		{% if msg|slice:":1" == '/' %}
			{{msg}}<br>
		{% endif %}
	{% endfor %}
	</samp></p>
	<div class="clear">
		<form method="POST"><button type="submit" name={{fix_errors}}>
				Corregir
			</button>
		</form>
	</div>
</div>


	{% endblock %}
