{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container">
	<div class='table-responsive'>
		<table style="color:white" class="table table-bordered">
			<tbody>
				<tr>
					<td><b>Repository name</b></td>
					<td>{{repository.name}}</td>
				</tr>
				<tr>
					<td><b>Repository owner</b></td>
					<td>{{repository.owner}}</td>
				</tr>
				<tr>
					<td><b>Description</b></td>
					<td>{{repository.description}}</td>
				</tr>
				<tr>
					<td><b>URL</b></td>
					<td><a href={{repository.html_url}} target="_blank">{{repository.html_url}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<form method="POST"><button id="runpylint" type="submit" name="pylint">
			Pylint
		</button>
	</form>
	<p id="running" class="oculto">
	<img src="{% static 'images/loading.gif' %}">Ejecutando Pylint</p>
</div>
<script>
	$(document).ready(function() {
		$("#runpylint").click(function() {
			$("#runpylint").toggleClass("oculto")
			$("#running").toggleClass("oculto")
		});
	});
</script>

	{% endblock %}
